{% extends "layout.html" %}
{% block main %}
<article>
  <header>
    <img src="{{ url_for('static', filename='images/herokupwa.jpg') }}" alt="">
  </header>
  <main>
    <h2>Heroku PWA</h2>
    <span>A Progressive Web App template</span>
    <p>Heroku PWA is an example of a Progressive Web App (PWA) on Heroku. It is created in Flash using
      a Model-Template-Controller design and is a simple template for Heroku PWA projects.</p>
  </main>
  <footer>
    <button id="btnAdd">Install the App</button>
  </footer>
</article>
{% endblock %}
